.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.1rem 7.9rem 3rem 4rem;
  &__logo {
    width: 20.1rem;
    height: 5rem;
    &__image {
      width: 100%;
      height: 100%;
    }
  }
  @media all and (min-width: 768px) {
    align-items: flex-start;
    padding-right: 52.7rem;
  }
}
