.share {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.share__button {
  width: 19.9rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: $fonttertiary;
  font-size: 1.8rem;
  border-radius: 1.2rem;
  margin-top: 3rem;
  color: white;
  background-color: $fourthcolor;

  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);

  &--active {
    background-color: $firstcolor;
  }
}

.far {
  width: 2.5rem;
  height: 2.2rem;
}

.share__result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0rem 3rem 0rem;
  &--hidden {
    display: none;
  }
  &__text {
    font-size: 1.8rem;
    font-family: $fonttertiary;
    color: #54585a;
  }
  &__url {
    font-size: 1.2rem;
    font-family: $fonttertiary;
    color: $firstcolor;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }
  &__button {
    background-color: #00a0f5;
    width: 18.1rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    font-size: 1.4rem;
    font-family: $fonttertiary;
    padding: 0.3rem 0.9rem 0.7rem 1.05rem;
  }
}
.fab {
  width: 1.8rem;
  height: 1.8rem;
  padding-top: 0.6rem;
}
