.close {
  // display: none;
  max-height: 0px;
  transition: max-height 1s ease-in-out;
  overflow: hidden;
}

.open {
  max-height: 700px;
  transition: max-height 1s ease-in-out;
  overflow: hidden;

  // display: block;
}

.collapse__icon-down {
  transform: rotate(0deg);

  &:hover {
    color: $firstcolor;
  }
}
.animate-arrow {
  transform: rotate(180deg);
}
