.js-container .close {
  display: none;
}

.content-collapsible .js-container .collapsable-content {
  display: block;
}

.content-collapsible .collapse__icon-down {
  transform: translateY(-50%) rotate(-180deg);
}
