* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 62.5%;
}
a {
  color: white;
  cursor: pointer;
  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }
}
