@import 'commons.scss';
.container-form {
  display: flex;
  flex-direction: column;
  padding: 0rem 2rem;

  @media all and (min-width: 768px) {
    padding: 0rem;
  }
}

.form {
  margin-bottom: 3rem;

  &__label {
    display: block;
    font-family: $fonttertiary;
    color: $secondcolor;
    font-size: 1.4rem;
    margin: 0.8rem 0;
  }

  &__input {
    height: 3rem;
    border: #a2deaf 1px solid;
    padding-left: 0.9rem;
    font-family: $fonttertiary;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  &__image {
    width: 100%;
    display: flex;

    &--btn {
      width: 14rem;
      height: 3rem;
      padding: 0.3rem auto 0.7rem auto;
      background-color: $firstcolor;
      border-radius: 0.3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 1.4rem;
      font-family: $fonttertiary;
      box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, 0.32);
      cursor: pointer;
      border: none;
    }

    &--min {
      border: 1px solid #a2deaf;
      margin-left: 2rem;
      width: 3rem;
      height: 3rem;
      background-position: center;
      background-size: cover;
    }
  }
}

.legend {
  font-family: 'Open Sans';
  color: #e17334;
  font-size: 1.1rem;
  text-align: right;
}
