<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Awesome profile cards</title>
  <link rel="stylesheet" href="./assets/css/main.css" />
  <link
    href="https://fonts.googleapis.com/css?family=Merriweather:900|Montserrat:400,700|Open+Sans:400,600&display=swap"
    rel="stylesheet" />
  <script src="https://kit.fontawesome.com/61294e7035.js" crossorigin="anonymous"></script>
</head>

<body>
  <partial src="_main-landing.html" label="_main-landing"></partial>
  <partial src="_footer.html" label="footer"></partial>
</body>

</html>